<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список привычек</title>
</head>
<body>
    <h1>Список привычек</h1>
    <a href="{% url 'habit_create' %}">Создать новую привычку</a>
    <ul>
        {% for habit in habits %}
            <li>
                {{ habit.name }} - {{ habit.action }}
                <a href="{% url 'habit_update' habit.pk %}">Редактировать</a>
                <a href="{% url 'habit_delete' habit.pk %}">Удалить</a>
            </li>
        {% endfor %}
    </ul>

    <div>
        <span>Страницы: </span>
        {% for page in page_obj.paginator.page_range %}
            {% if page == page_obj.number %}
                <strong>{{ page }}</strong>
            {% else %}
                <a href="?page={{ page }}">{{ page }}</a>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>
