<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Публичные привычки</title>
</head>
<body>
    <h1>Публичные привычки</h1>
    <ul>
        {% for habit in habits_public %}
            <li>
                {{ habit.name }} - {{ habit.action }}
            </li>
        {% endfor %}
    </ul>

    <div>
        <span>Страницы: </span>
        {% for page in page_obj.paginator.page_range %}
            {% if page == page_obj.number %}
                <strong>{{ page }}</strong>
            {% else %}
                <a href="?page={{ page }}">{{ page }}</a>
            {% endif %}
        {% endfor %}
    </div>
    <a href="{% url 'habit_list' %}">Назад к списку привычек</a>
</body>
</html>
